.tab-container {
  background-color: blue;

  .header-container {
    display: flex;
    justify-content: space-between;

    .header {
      flex: 1;
    }
  }

  .tab-content-container {
    .content {
      .create-content {
        background-color: aqua;
        display: flex;
        flex-direction: column;

        .action-container {
          display: flex;
          button:last-child {
            margin-left: auto;
            margin-right: 0;
          }
        }

        app-word-list {
        }
      }
    }
  }
}
