.tab-container {
  background-color: blue;

  .header-container {
    display: flex;
    justify-content: space-between;

    .header {
      flex: 1;
    }
  }

  .tab-content-container {
    .content {
    }
  }
}
