.container {
  display: flex;
  justify-content: center;

  .card {
    width: 600px;

    .tab-container {
      width: 100%;

      .header-container {
        height: 20px;
        display: flex;
        justify-content: space-evenly;
        border-bottom: var(--color-separator) solid 1px;

        .header {
          font-weight: 600;
          cursor: pointer;

          &.active {
            border-bottom: var(--color-primary) solid 2px;
          }

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      .tab-content-container {
        margin-top: 16px;
      }
    }
  }
}
