.container {
  display: flex;
  justify-content: center;

  .card {
    width: 600px;

    .tab-container {
      width: 100%;

      .header-container {
        height: 20px;
        display: flex;
        justify-content: space-evenly;
        border-bottom: #afafaf solid 1px;

        .header {
          &.active {
            border-bottom: #0073ed solid 2px;
          }
        }
      }

      .tab-content-container {
        margin-top: 16px;
      }
    }
  }
}
