.row {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  gap: 8px;
  border-bottom: solid 1px var(--color-separator);

  .entry {
    flex: 1;
    display: flex;
    align-items: center;

    .action-container {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
      gap: 4px;
    }
  }

  &:hover .entry .action-container {
    opacity: 1;
    visibility: visible;
  }
}
