.create-content {
  background-color: aqua;
  display: flex;
  flex-direction: column;

  .action-container {
    display: flex;
    button:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }

  app-word-list {
  }
}
