<div class="create-content">
  <div class="action-container">
    <app-button
      class="button"
      [buttonType]="'primary'"
      [icon]="'upload'"
      (clickEmitted)="importDefault()"
      >Beispieleinträge importieren</app-button
    >
    <app-button
      class="button"
      [buttonType]="'secondary'"
      [icon]="'delete_history'"
      (clickEmitted)="resetList()"
      >Zurücksetzen</app-button
    >
  </div>
  <app-word-list
    class="word-list"
    [wordList]="wordPairService.wordList()"
    (deleteEmitter)="deleteEntry($event)"
    (newEmitter)="newEntry($event)"
    (updateEmitter)="updateEntry($event)"
  ></app-word-list>
</div>
