<div class="create-content">
  <div class="action-container">
    <app-button class="button" [buttonType]="'primary'" (clickEmitted)="importDefault()"
      >Default Einträge importieren</app-button
    >
    <app-button class="button" [buttonType]="'secondary'" (clickEmitted)="resetList()"
      >Reset</app-button
    >
  </div>
  <app-word-list
    class="word-list"
    [wordList]="wordList()"
    (deleteEmitter)="deleteEntry($event)"
    (newEmitter)="newEntry($event)"
    (updateEmitter)="updateEntry($event)"
  ></app-word-list>
</div>
