.create-content {
  display: flex;
  flex-direction: column;

  .action-container {
    display: flex;
    justify-content: end;

    .button {
      margin-left: 4px;
    }
  }

  .word-list {
    margin-top: 8px;
  }
}
