:host {
  button {
    width: 100%;
    padding: 8px 8px;
    border: transparent;
    box-shadow: var(--shadow);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
      &.primary {
        background: linear-gradient(
          90deg,
          var(--color-primary) 0%,
          var(--color-primary-active) 100%
        );
      }

      &.secondary {
        background: linear-gradient(
          90deg,
          var(--color-secondary) 0%,
          var(--color-secondary-active) 100%
        );
      }

      &.error {
        background: linear-gradient(90deg, var(--color-error) 0%, var(--color-error-active) 100%);
      }
    }

    &.primary {
      background-color: var(--color-primary);
      color: white;
    }

    &.secondary {
      background-color: var(--color-secondary);
      color: black;
    }

    &.error {
      background-color: var(--color-error);
      color: black;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    app-icon {
      margin-right: 4px;
    }
  }
}
