:focus {
  outline: 0;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 4px var(--color-separator);
}

.container div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.container input[type='radio'] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container input[type='radio']:checked + span {
  box-shadow: 0 0 0 0.0625em var(--color-primary);
  background-color: white;
  z-index: 1;
  color: var(--color-primary);
}

label span {
  display: block;
  cursor: pointer;
  background-color: white;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em var(--color-separator);
  letter-spacing: 0.05em;
  color: var(--color-separator);
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
