.table {
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--color-separator);

    .header {
      flex: 1;
      font-weight: 500;
      cursor: pointer;

      .sort-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  .table-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .new-entry-container {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      box-shadow: var(--shadow);
      border-radius: 4px;
      padding: 8px 4px;
    }
  }
}
