.table {
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;

    .header {
      flex: 1;
    }
  }

  .table-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .new-entry-container {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 8px 4px;

      .entry {
        flex: 1;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          max-width: 190px;
          padding: 8px 8px;
          border: none;
          border-radius: 4px;
          outline: none;
          background-color: rgba(157, 157, 157, 0.186);
        }

        .action-container {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}
