<div class="table">
  <div class="header-container">
    <div class="header">Deutsch</div>
    <div class="header">Englisch</div>
  </div>
  <div class="table-container">
    <div class="new-entry-container">
      <app-entry-form [wordPair]="newWordPair" (updateEmitter)="newEntry($event)"></app-entry-form>
    </div>

    @for(wordPair of wordList(); track wordPair.id){
    <app-entry
      [wordPair]="wordPair"
      (deleteEmitter)="deleteEntry(wordPair.id)"
      (updateEmitter)="updateEntry($event)"
    ></app-entry>
    }@empty { Keine Wortpaare vorhanden }
  </div>
</div>
