.table {
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    justify-content: space-between;

    .header {
      flex: 1;
    }
  }

  .table-container {
    display: flex;
    flex-direction: column;

    .new-entry-container {
      background-color: bisque;
      display: flex;
      justify-content: space-between;

      .entry {
        flex: 1;
        display: flex;

        .action-container {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}
