:host {
  width: 100%;
}

.new-entry-container {
  display: flex;
  justify-content: space-between;

  .entry {
    flex: 1;
    display: flex;
    align-items: center;

    .action-container {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
