<div class="container">
  @if(priorizedList().length > 0){
  <div>Übersetze folgendes Wort:</div>

  <div class="translation-container">
    <div class="question">
      {{ question() }}
    </div>

    @switch(state()){ @case('waitForAnswer'){
    <form (submit)="checkAnswer($event)">
      <app-input [(value)]="userAnswer" placeholder="Deine Antwort..." />
      <app-button class="button" [disabled]="!formValid()" [icon]="'clarify'">Prüfen</app-button>
    </form>
    } @case('correct'){
    <div class="note correct">
      <div class="text">
        <app-icon>check</app-icon>
        <div>Richtig</div>
      </div>
      <app-button
        [buttonType]="'secondary'"
        (clickEmitted)="selectNext()"
        [icon]="'chevron_forward'"
        >Weiter</app-button
      >
    </div>
    } @case('wrong'){
    <div class="note error">
      <div class="text">
        <app-icon>dangerous</app-icon> Korrekte Antwort:
        <p>{{ this.correctAnswer() }}</p>
      </div>
      <app-button
        [buttonType]="'secondary'"
        (clickEmitted)="selectNext()"
        [icon]="'chevron_forward'"
        >Weiter</app-button
      >
    </div>
    } }
  </div>
  } @else {
  <div>Keine Wortpaare vorhanden. Erfasse zuerst welche.</div>
  }
</div>
