.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .translation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .question {
      margin: 16px 0px;
      font-weight: bolder;
      font-size: large;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      button {
        width: 100%;
      }
    }

    .note {
      width: 100%;
      padding: 8px;
      gap: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text {
        display: flex;
        align-items: center;
        gap: 4px;
        p {
          display: inline;
          font-weight: bold;
        }
      }

      button {
        width: 100%;
      }

      &.correct {
        background-color: var(--color-correct);
      }

      &.error {
        background-color: var(--color-wrong);
      }
    }
  }
}
