progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
}

/* Chrome / Safari */
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 2px;
}

/* Firefox */
progress[value]::-moz-progress-bar {
  background-color: var(--color-primary);
  border-radius: 2px;
}
